* {
    font-family: "Raleway" ,sans-serif;
    font-size: 15px;
}
.conteiner{
    padding: 0px 80px;
}
div:focus, input:focus, textarea:focus {
    outline: none;
}
a:hover{
    text-decoration: none;
}
a {
    text-decoration: none;
}
h2.title{
color: #061e37;
font-weight: 600;
font-size: 45px;
text-align: center;
}
.descr{
    color: #b0bec5;
    line-height: 25px;
    text-align: center;
    width: 555px;
    margin: 24px auto 0 auto;
}
.descr_darc{
    color: #061e37;
}
/*Promo section*/
.promo {
    background: url(../img/BG/Color_Fill_1.jpg) center center/cover no-repeat;
    min-height: 750px;
    padding: 50px 0px;
}
.heder{
    display: flex;
    justify-content: space-between;
}
.logo_wrap {
    display: flex;
    align-items: center;
}
.logo_img{
    margin-right: 10px;
}
.logo_text {
color: #ffffff;
line-height: 15px;
text-transform: uppercase;
}
.logo_text > span{
font-weight: 400;
}
.nav {
    display: flex;
    align-items: center;
}
.nav_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav_item:hover{
    opacity: 1;
}
.nav_item{
    margin: 0 25px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.nav_item_margin_none{
    margin-right: 0;
}
.nav_item>a{
        color: #ffffff;
        font-weight: 600;
}
.promo_sign button{
    padding: 6px 20px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
}
.promo_content{
    display: flex;
    margin-top: 167px;
    justify-content: space-between;
    align-items: center;
}
.promo_text{
    width: 45%;

}
h1.promo_title{
    color: #ffffff;
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-transform: uppercase;
}
.promo_description{
    color: #ffffff;
    font-size: 18px;
    line-height: 35px;
    opacity: 0.8;
}
.promo_btns{
    margin-top: 38px;
}
.promo_btn{
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #061e37;
    font-weight:700;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s ease;
}
.promo_btn_dl{
    background-color: #061e37;
    color: white;
    margin-right: 30px;
}
.promo_btn_dl:hover{
    background-color: #ffffff;
    color:black;
}
.promo_btn_wh{
    background-color: #ffffff;
    color:black;
}
.promo_btn_wh:hover{
    background-color: #061e37;
    color: white;
}
.promo_video{
    position: relative;
}
.promo_video > video{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid #061e37;
    opacity: 0.8;
}
.promo_play{
    color: #061e37;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 75px);
    width: 150px;
    cursor: pointer;
}
.promo_play>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #061e37;
    margin: 0 auto 22px auto;
}
.promo_play> div>i{
    color: white;
}
/*Section Useful*/
.useful{
    padding: 100px 0;
    min-height: 800px;
}
.subtitle{
    color: #b0bec5;
    font-size: 25px;
    font-weight: 600;
    text-align:  center;
    line-height: 50px;
}
.useful_content{
    margin-top: 95px;
    display: flex;
    justify-content:space-between;
    //align-items: center;
}
.useful_item{
    width: 27%;
}
.useful_title{
    color: #061e37;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.useful_decr{
    color: #78909c;
    line-height: 20px;
    text-align: center;
}
.useful_icons>i{
    font-size: 80px;
}
.useful_icons{
    text-align: center;
    margin-bottom: 40px;
}
.fa-calendar-alt{
    color: #82b1ff;
}
.fa-user-secret{
    color: #061e37;
}
.fa-fire-alt{
    color: #b388ff;
}
.useself_btn{
    display: block;
    margin: 78px auto 0 auto;
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    font-weight: 700;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.useself_btn:hover{
    background-color: #025a43;
}
/*Section progres*/
.progres{
    display: flex;
}
.all_block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 25%;
}
.block_one{
    background-color: #80d8ff;
}
.block_one i{
    color: #80d8ff;
}
.block_two {
    background-color: #82b1ff;
}
.block_two i{
    color: #82b1ff;
}
.block_three{
    background-color: #b388ff;
}
.block_three i{
    color: #b388ff;
}
.block_four{
    background-color: #ea80fc;
}
.block_four i{
    color: #ea80fc;
}
.pr_icon>i{
    font-size: 30px;
}
.pr_text{
    color: #908c8c;
   font-size: 20px;
   font-weight: 700;
   line-height: 25px;
}
.progres_item{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.pr_icon{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Section service*/
.service{
    padding: 100px 0;
}
.service_content{
    margin-top: 48px;
}
/*Tabs*/
.tabs_item{
width: 800px;
height: 50px;
box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
border-radius: 5px;
background-color: #ffffff;
margin: 0 auto 20px auto;
padding: 0 25px 25px 25px;
display: flex;
flex-direction: column;
justify-content: space-between;
overflow: hidden;
cursor: pointer;
}
.tabs_item_active{
    height: 240px;
    cursor: default;
}
.tabs_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 7px 0;
}
.tabs_wr{
    display: flex;
    align-items: center;
}
.tabs_title{
    color: #061e37;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}
.tabs_icon >i{
    color: #061e37;
    font-size: 25px;
}
.tabs_down{
    color: #061e37;
    font-size: 25px;
}
.tabs_content{
    display: flex;
}
.tabs_img{
    width: 35%;
    height: 155px;
    margin-right: 25px;
}
.tabs_img1{
    background: url(../IMG/Tabs/static.png) center center/cover no-repeat;
}
.tabs_img2{
    background: url(../IMG/Tabs/mail.png) center center/cover no-repeat;
}
.tabs_img3{
    background: url(../IMG/Tabs/team.png) center center/cover no-repeat;
}
.tabs_img4{
    background: url(../IMG/Tabs/seting.png) center center/cover no-repeat;
}
.tabs_img5{
    background: url(../IMG/Tabs/feed.png) center center/cover no-repeat;
}
.tabs_text{
    width: 63%;
    color: #061e37;
    line-height: 25px;
    letter-spacing: 0.45px;
    font-weight: 600;
}
/*Section Comments*/
.comments{
    padding: 87px 0;
    background: url(../IMG/BG/bg2.png) center center/cover no-repeat;
    min-height: 564px;
}
.comment_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comment_title{
    color: #ffffff;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
}
.comment_discr{
    margin-top: 19px;
    color: #ffffff;
    line-height: 25px;
    width: 515px;
}
.comment_btn{
    width: 150px;
    height: 55px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #061e37;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 78px;
}
.comment_item{
    display: flex;
    align-items: center;
}
.comment_icon{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-right: 50px;
}
.comment_name{
    color: #061e37;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.comment_text{
    color: #78909c;
    font-style: italic;
    line-height: 25px;
}
.comment_content{
    width: 650px;
    min-height: 160px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
    padding: 30px;
}
.comment_item{
    margin-bottom: 70px;
}
.comment_item:last-child{
    margin-bottom: 0;
}
/*Section team*/
.team{
padding: 100px 0 90px;
}
.team_content{
    margin-top: 98px;
}
/*Carousel*/
.carousel {
    width: 850px;
    margin: 0 auto;
    position: relative;
}
.carousel_image{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 0 auto 60px auto;
}
.carousel_name{
    color: #061e37;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.carousel_textour{
    color: #90a4ae;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
}
.carousel_links{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.carousel_links a{
    margin: 0 15px;
}
.carousel_links i{
    color: #90a4ae;
    font-size: 20px;
}
.carousel_arrow>i{
    top:20%;
    font-size: 60px;
}
.carousel_arrow{
    position: absolute;
}
.carousel_next{
    right: 0;
    top:0;
}
.carousel_prev{
    left:0;
    z-index: 1;
}
/*Section contact*/
.contact{
    min-height: 660px;
    background-color: #fafafa;
    padding: 50px 0 100px;
}
.contact_content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
/*Form*/
.form_wrap{
    margin-top: 20px
}
.form_input{
    color: #061e37;
    font-weight: 500;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #061e37;
    padding: 0 20px;
    margin: 0 20px;
}
.form_message{
    width: 605px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #061e37;
    padding: 20px;
    color: #061e37;
    font-weight: 500;
    line-height: 30px;
    margin: 20px;
    resize: none;
}
.form_send{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form_send>label{
    display: flex;
    align-items: center;
    color: #061e37;
    font-weight: 500;
}
.form_subs{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #061e37;
}
.form_btn{
    width: 130px;
    height: 50px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #1de9b6;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    transition: all 0.3s ease;
}
.form_btn:hover{
    background-color: #025a43;
}
/*Footer section*/
.footer{
    padding: 100px 0;
    background-color: #061e37;
}
.footer_wrap{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}
.footer_first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer_submenu{
    display: flex;
    align-items: center;
}
.footer_submenu a{
    opacity: 0.5;
    color: #ffffff;
}
.footer_submenu div{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 20px;
}
.footer_links a{
    margin-left: 20px;
}
.footer_links i{
    opacity: 0.2;
    color: #ffffff;
    font-size: 20px;
}
.footer_primary{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
/*popup block*/
.popup{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;/* Сто процентов виртуального монитора*/
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.popup_active{
    display: flex;
}
.popup_form{
    width: 645px;
}
.popup_wrap, .popup_done{
    position: relative;
    background-color: #a8ecda;
    border-radius: 6px;
    padding: 50px;
    box-shadow: 0 0 10px 0 black;
}
.popup_done{
    display: none;
}
.popup_done div{
    font-size: 45px;
}
.popup_close{
    position: absolute;
    font-size: 60px;
    color: grey;
    top:10px;
    right: 15px;
    cursor: pointer;
}
div.popup_done .popup_close{
    font-size: 50px;
    right: 10px;
}
